/*
 * BNP Paribas Fortis - Font Configuration
 *
 * BNPPSans is a proprietary font family from BNP Paribas.
 * Since the font files are self-hosted on bnpparibasfortis.be,
 * we reference them directly. If these URLs become unavailable,
 * the fallback fonts (Arial) will be used automatically.
 */

/* BNPPSans Regular - Primary body and heading font */
@font-face {
  font-family: 'BNPPSans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://www.bnpparibasfortis.be/fortis/_assets/fonts/BNPPSansRegular-webfont.woff') format('woff');
}

/* BNPPSansLight - Used for paragraph text */
@font-face {
  font-family: 'BNPPSansLight';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('https://www.bnpparibasfortis.be/fortis/_assets/fonts/BNPPSansLight-webfont.woff') format('woff');
}

/* BNPPSans Condensed - Used for navigation/compact areas */
@font-face {
  font-family: 'BNPPSansCond';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://www.bnpparibasfortis.be/fortis/_assets/fonts/BNPPSansCondensed.woff') format('woff');
}
